.article{
  padding:0;
  margin:0;
}
.font-body{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.lowDownText{
  
  font-size: 45px;
  font-style: italic;
  color:white;
}

#sqwad_header_button{
  background-color: #FA023C;
  border-radius: 22.5px;
}

.btnRow{
  color:white;
  background-color: #FA023C;
  width:10%;
  min-width: 70px;
}

.link-color{
  color: white;
}

.center-list{
  text-align: center;
}

.author-text{
  color:black;
}

.addPadding{
  padding-left: 80px;
}

.article_header{
  text-align: left;
}

.list-articles{
  float:left;
  font-size: 30px;
}

.shareArticleTwitter{
  position:fixed;
  left:0;
}
#tweet{
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
}

.articleFooter{
  display: none;
}
.remove_on_tinyphone{
  display: block;
}

.toTheRight{
    top: 160px;
    bottom: 0;
    right: 0;
    background-color: #CCCCCC;
    height: 100vh;
}

  #the-sticky-div.sticky {
     position: fixed;
     top: 0;
     right:0;
     padding:0;
     margin:0;
  }

.border{
    position:relative;
}
.border:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom:0px; /*Change this to increase/decrease distance*/
    border-bottom: 5px solid #000;  
}
 .phoneImage{
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  }

.number-styles{
  margin-left: 10px;
  font-size: 20px;
  font-style: italic;
  color: white;
}


.sqwad_join_button{
  width:100%;
  color:white;
  font-size:20px;
  background-color:#FA023C;
  font-weight:700;
}

#sqwad_side_button{
  color:white;
  font-size:20px;
  background-color:#FA023C;
  font-weight:700;
  border-radius: 22.5px;
}

.navBar{
  color:white;
  text-align: left;
}

.show_on_phone{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .toTheRight{
    display: none;
  }
    .articleFooter{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .article_header{
    text-align: center;
  }
  
  #tweet{
    display: none;
  }
  
  .addPadding{
    padding: 0;
  }
  
  .navBar{
    display: none;
/*  text-align: center;*/
}
  .toTheRight{
    display: none;
  }
  .articleFooter{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
  }
  .show_on_phone{
  display: block;
  }
  .remove_on_phone{
    display: none;
  }
}

.secondPart{
  background-color: rgba(48,48,48,0.8); ;
  height: 70px;
  line-height: 70px;
  font-size: 20px
}

@media screen and (max-width: 600px) {
  .remove_on_tinyphone{
    display: none;
  }
  
  .center{
    margin:auto;
    width: 100%;
  }
  .secondPart{
  background-color: rgba(48,48,48,0.8); ;
  height: 50px;
  line-height: 50px;
  font-size: 20px
}
  .phoneImage{
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  }
  .articleFooter{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
  }
}