.fc{
	background: black url('../images/fcbackground.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#left-line-five{
  color:white;
  font-family: 'Oswald', sans-serif !important; 
  font-weight: 700;
  font-size:50px;
  text-align: left;
}

#left-line-five:before {
  position: absolute;
    content:'';
    width: 5px;
    height: 70%;
    top: 90px;
    left: -5px;
    background-color: white;
}

#left-line-five:after{
    position: absolute;
    content:'';
    width: 50%;
    height: 5px;
    top: 90px;
    left: -5px;
    background-color: white;
}

.image_up{
  top: -20px;
}

@media screen and (max-width: 600px) {
	#left-line-five{
		font-size: 30px;
		text-align: center;
	}
	#left-line-five:after{
	display:none;	
	}
	#left-line-five:before{
	display:none;	
	}
}


@media screen and (max-width: 769px) {
	#left-line-five{
		text-align: center;
	}
	#left-line-five:after{
	display:none;	
	}
	#left-line-five:before{
	display:none;	
	}
    .image_up{
  width: 100%;
  height:auto;
  top: -20px;
  }
}