@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#long_hr{
	width:140%; 
	margin-top:0
}

#influencerText{
	color:white; 
	font-family:'Oswald', sans-serif !important; 
	font-weight: 300;
	margin-top:0;
	width:100%;
}

#status{
  color:white;
}

.roundAllEdges{
	border-radius:5px 5px 5px 5px;
}

#mobile_twitter{
	display:none;
}

@media screen and (max-width: 1025px) {
		#mobile_twitter{
			display:block;
		}
		#status{
			display:none;
		}
		#handle{
			display: none;
		}
		#sendTwitterHandle{
			display: none;
		}
	}