#long_hr{
	width:140%; 
	margin-top:0
}

#influencerText{
	color:white; 
	font-family:Dense; 
	margin-top:0
}

#status{
  color:white;
  font-family: Dense;
}

.roundAllEdges{
	border-radius:5px 5px 5px 5px;
}

#mobile_twitter{
	display:none;
}

@media screen and (max-width: 600px) {
		#twitter_stuff{
			display:none;
		}
		#mobile_twitter{
			display:block;
		}
	}