@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#long_hr{
	width:140%; 
	margin-top:0
}

#influencerText{
	color:white; 
	font-family:'Oswald', sans-serif !important; 
	font-weight: 300;
	margin-top:0;
	width:100%;
}

#status{
  color:white;
}

.roundAllEdges{
	border-radius:5px 5px 5px 5px;
}

#mobile_twitter{
	display:none;
}

.message {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    z-index: 100;
}

#msg-error {
	background: #FA023C;
	border: solid 2px #D80032;
	display: none;
}

#msg-success {
	background: #02ea9e;
	border: solid 2px #009C69;
	display: none;
}

.alert-sqwad {
	color: black;
	opacity: 0.8;
	font-weight: 700px;
	font-size: 24px;
}

@media screen and (max-width: 1025px) {
		#mobile_twitter{
			display:block;
		}
		#status{
			display:none;
		}
		#handle{
			display: none;
		}
		#sendTwitterHandle{
			display: none;
		}
	}