.white_color{
	color:white;
}

#first_hr{
	width:150%; 
	margin-top:0;
}

#first_h2{
	color: white;
	margin-left: 5px;
	font-family: Dense;
}

#second_hr{
	border-top:3px solid white;
	width:40%;
	margin-left:0px;
	margin-bottom:5px
}

#first_h3{
	color:white;
	margin-bottom: 0;
	margin-top: 0;
}

#second_h2{
	color:white; 
	font-family:Dense; 
	margin-top:0;
}

#sqwadUpButton{
	background-color:grey; 
	color:white;
	font-weight:bold;
	border-radius:0px 5px 5px 0
}

.black_background{
	background-color: black;
}

#second_title{
	color:white;
	background-color: red;
	padding-left:10px;
	padding-right:10px
}

#bottomhr{
	border-top:1px solid rgb(255,0,51);
	margin-top:5px
}

#middlehr{
	border-top:1px solid rgb(255,0,51);
	margin-bottom:0px;
	margin-top:0px
}

#tophr{
	bborder-top:1px solid rgb(255,0,51);
	margin-bottom:5px
}

#link{
	font-size:30px;
	font-family:Dense
}
