@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
/*    background: black url('../images/pdxsportsbg.png') no-repeat center center fixed;
*/}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-danger {
    background: #FA023C;
    color: #ffffff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: #AB032A;
}
 
.btn-danger:active, .btn-danger.active {
    background: #FA023C;
    box-shadow: none;
}

.white_color{
	color:white;
	font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
}

#first_hr{
	width:150%; 
	margin-top:0;
}

#first_h2{
	color: white;
	margin-left: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#demo{
	font-size: 20px;
}

#demo:hover{
	color: #FA023C;
}

#second_hr{
	border-top:3px solid white;
	width:40%;
	margin-left:0px;
	margin-bottom:5px
}

#first_h3{
	color:white;
	margin-bottom: 0;
	margin-top: 0;
	font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
}

#second_h2{
	color:white; 
	font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
	margin-top:0;
	font-size: 20px !important;
}

#sqwadUpButton{
	background-color: #FA023C; 
	color:white;
	font-weight:bold;
	border-radius:0px 5px 5px 0;
}

.black_background{
	background-color: black;
}

#second_title{
	color:white;
	background-color: #FA023C;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
}

#bottomhr{
	border-top:1px solid #FA023C;
	margin-top:5px
}

#middlehr{
	border-top:1px solid #FA023C;
	margin-bottom:0px;
	margin-top:0px
}

#tophr{
	border-top:1px solid #FA023C;
	margin-bottom:5px
}

#link{
	font-size:30px;
	font-family:Dense
}

#sqwad_button{
			text-align: left
		}
		
@media screen and (max-width: 769px) {
	
	
	#sqwad_button{
			text-align: center
		}
}

@media screen and (max-width: 600px) {
		#sqwad_button{
			text-align: center;
		}
		
		.change_size{
  		text-align: center;
		}
	}

/*@media screen and (max-width: 600px) {
		.change_size{
  		text-align: center;
		}
	}*/