.new_site{
	background: white;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*@font-face {
  font-family: 'Oswald';
  src: url('source/fonts/Oswald-Bold.ttf');
  font-weight: bold;
  
}*/

.navbar-brand {
  float: none;
  }

.navbar-center
{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: -20px;
}

.new_sizes{
  font-size: 80px;
}

.new_sizes-1{
  font-size: 70px;
}

.moveUp{
  top:5px;
}

#left-line-new-site-1{
  color:black;
  margin:0;
  font-family: 'Oswald', sans-serif !important; 
  font-weight: 700;
  font-style: bold;
  text-align: left;
}

#left-line-new-site-1:before {
  position: absolute;
    content:'';
    width: 5px;
    height: 70%;
    top: 110px;
    left: 0px;
    background-color: #FA023C;
}

#left-line-new-site-1:after{
    position: absolute;
    content:'';
    width: 50%;
    height: 5px;
    top: 110px;
    left: 0px;
    background-color: #FA023C;
}

#left-line-new-site{
  color:black;
  margin:0;
  font-family: 'Oswald', sans-serif !important; 
  font-weight: 700;
  font-style: bold;
  text-align: left;
}

#left-line-new-site:before {
  position: absolute;
    content:'';
    width: 5px;
    height: 70%;
    top: 110px;
    left: 0px;
    background-color: #FA023C;
}

#left-line-new-site:after{
    position: absolute;
    content:'';
    width: 50%;
    height: 5px;
    top: 110px;
    left: 0px;
    background-color: #FA023C;
}

#phone_new_site{
  max-width:320px;
  padding-left: 0;
	z-index: 100;
}

#keepImageSizedCorrectly{
  max-width: 90%;
  max-height:90%;
  height: auto;
  width: auto\9;
}

#sqwad_new_button{
	color:white;
	background-color:#FA023C;
  font-size: 40px;
	margin-top:10px;
	font-weight:700;
  border-radius: 22.5px;
  text-transform: capitalize;
}

.background-shrink{
	background-image:url(../images/new_site_top_bg.png); 
	padding-top:0; 
  padding-bottom:0;
}

.background-shrink-1{
  background-image:url(../images/white_background.png); 
  padding-top:0; 
  padding-bottom:0;
}


#realTimeFantasy{
  font-family: 'Oswald', sans-serif !important; 
}


#sqwad_2nd_button{
  color:white;
  font-size:40px;
  background-color:#FA023C;
  font-weight:500;
  text-transform: capitalize;
  float: right;
  border-radius: 22.5px;
}

.site_font{
  font-family: 'Oswald', sans-serif !important; 
}

#headerText{
  font-family: "IronstrikeStencil-Black";
  color:white;
  font-size: 20px;
}

.otherHeaderStuff{
  font-family: "Ironstrike-Black";
  color:white;
  font-size: 20px;
}

#new_first_hr{
    width:130%; 
  margin-top:0;
}

.three_titles{
  font-weight: 700;
}

.vertical-line {
    border-left: thick solid black;
    border-right: thick solid black;
}

#playGamesHR{
  border-color: white;
  width:50%;
}

#playMoreGamesText{
  font-weight: 700;
  font-style: italic;
  color:white;
  font-size: 80px;
  text-align: left;
}

#playeMoreGamesMiniText{
  margin-top: 0;
  text-align: left;
  color: white;
  font-weight: 100;
}

#sportsText{
  text-align: left;
  color:white;
  font-weight: 200;
  font-size: 40px;
}

#againstBestHR{
  border-color: black;
  width: 70%;
  margin: auto 0 auto auto;
  border-width: 2px;
}

#againstTheBest{
  font-weight: 700;
  font-style: italic;
  color: #FA023C; 
  font-size: 80px;
  text-align: right;
}

#againstTheBestLittleText{
  font-size: 35px;
  text-align: right;
  font-weight: 100;
  width:80%;
  margin: auto 0 auto auto;
}

#winPrizesTitle{
  font-size: 80px;
  color: white;
  text-align: center;
  font-weight: 700;
}

#winPrizesMiniText{
  color:white;
  font-weight: 100;
  font-size: 35px;
  text-align: left;
  padding-left: 0;
}

#loveShit{
  font-weight: 100;
  font-size: 50px
}

#finalContactButton{
  color: #FA023C;
  border-color: #FA023C;
  border: solid 2px;
  font-size: 30px;
  font-weight: 100;
}

#sportsBallsImage{
  left:100px;
}

@media screen and (min-width:320px) and (max-width: 767px) {
  #left-line-new-site{
    font-size: 35px;
    padding-left: 0px;
    text-align: center;
  }
  
  #left-line-new-site-1{
    font-size: 35px;
    padding-left: 0px;
    text-align: center;
  }
  
  #phone_new_site{
    display: none;
  }
  
  #left-line-new-site:before {
    display:none;
  }
  #left-line-new-site:after{
    display: none;
  }
  
  #left-line-new-site-1:before {
    display:none;
  }
  #left-line-new-site-1:after{
    display: none;
  }
  
  #sqwad_new_button{
    font-size: 30px;
  }
  
  #new_first_hr{
    width:100%; 
    margin-top:0;
  }
  
  .remove_on_phone{
    display:none;
  }
  
  .vertical-line {
    border-left: none;
    border-right: none;
  }
  #playMoreGamesText{
    text-align: center;
    font-size: 60px;
  }
  #playGamesHR{
    margin:auto;
  }
  #playeMoreGamesMiniText{
    text-align: center;
  }
  #againstTheBest{
    text-align: center;
    font-size: 50px;
  }
  #againstBestHR{
    margin: auto;
  }
  #againstTheBestLittleText{
    text-align: center;
    margin: auto;
  }
  #sqwad_2nd_button{
    float:none;
  }
  #winPrizesTitle{
    text-align: center;
    margin: auto;
    font-size: 50px;
  }
  #winPrizesMiniText{
    text-align: center;
  }
  #loveShit{
  font-weight: 100;
  font-size: 40px
  }
  #sportsText{
    text-align: center;
  }
  .remove_on_ipad{
    display: none;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .new_sizes{
    font-size: 55px;
    text-align: center;
    padding-left: 10px;
  }
  
  .new_sizes-1{
    font-size: 40px;
    text-align: center;
    padding-left: 10px;
  }
  #left-line-new-site{
    font-size: 65px;
    text-align: center;
  }
  
  #left-line-new-site:before {
    display:none;
  }
  #left-line-new-site:after{
    display: none;
  }
  
   #left-line-new-site-1{
    font-size: 65px;
    text-align: center;
  }
  
  #left-line-new-site-1:before {
    display:none;
  }
  #left-line-new-site-1:after{
    display: none;
  }
  .remove_on_ipad{
    display: none;
  }
  #realTimeFantasy{
    text-align: center;
    padding-left: 10px;
  }
  #sqwad_new_button{
    font-size: 40px;
    margin: auto;
  }
  .vertical-line {
    border-left: none;
    border-right: none;
  }
  #againstTheBest{
    text-align: center;
  }
  #againstBestHR{
    margin: auto;
  }
  #againstTheBestLittleText{
    text-align: center;
    margin: auto;
  }
  #playMoreGamesText{
    font-size: 70px;
  }
  #playGamesHR{
    border-color: white;
    width:40%;
  }
  #sqwad_2nd_button{
    float:none;
  }
  #winPrizesMiniText{
    text-align: center;
  }
  #phone_new_site{
    top: 0;
    max-width: 100%;
  }
  #keepImageSizedCorrectly{
    max-width: 300px
  }
}