.schools{
	background: black url('../images/school_background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#school_copy{
	color: white;
	margin-left: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


#left-line-four{
  color:white;
  margin:0;
  font-family: 'Oswald', sans-serif !important; 
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

#left-line-four:before {
  position: absolute;
    content:'';
    width: 5px;
    height: 70%;
    top: 70px;
    left: -5px;
    background-color: white;
}

#left-line-four:after{
    position: absolute;
    content:'';
    width: 50%;
    height: 5px;
    top: 70px;
    left: -5px;
    background-color: white;
}

@media screen and (max-width: 600px) {
	#left-line-four{
	display:none;	
	}
}


@media screen and (max-width: 769px) {
	#left-line-four{
	display:none;	
	}
	
	#school_copy{
		text-align: center;
	}
}