<div class="se-pre-con" id="loader" style="display:none"></div>

<div id="emailModal" class="modal fade" role="dialog">
            
    <div class="modal-dialog">

        <div class="modal-content">
        	
        	<div class="modal-header">
        	
        		<h1>Enter Your Email To Get Our Newsletter</h1>
        		
        	</div>
        	
        	<form action="" id="newEmailForm">
          	
          	<div class="form-group">
	          		
		          	<input type="email" class="form-control" placeholder="Enter Your Email" id="getANewEmail">
		          	
		          	<div class="vertical-spacer-lg"></div>
		          	
		          	<input type="email" class="form-control" placeholder="ConfirmEmail" id="confirmNewEmail">
		          	
		          	<div class="vertical-spacer-lg"></div>
		          	
		          	<button class="btn btn-success" id="newsLetterSignUpEmail">SUBMIT</button>
	          	
	          </div>
          	
					</form>

        </div>

    </div>
    
</div>

<div id="successModal" class="modal fade text-center" role="dialog" style="display:none">
                        
	<div class="modal-dialog">
	  
	  <div class="modal-content">
	      
	    <div class="modal-header text-left">
	      
	      <span class="fa fa-times" id="dismissModalButton" data-dismiss="modal"></span>
	    
	      </div>
	      	       
	      <h1>Signed Up!</h1>
	      
	      <h3>Thanks for reading and look out for our newsletter!</h3>
	  
	  </div>
	  
	</div>

</div>