
<div class="col-xs-4 remove_on_tinyphone">
<h1>Sqwad</h1>
<h5 align="left" style="margin-left:10px">Sqwad is a real-time fantasy game that lets you pick the players
at any time</h5>
</div>

<div class="vertical-spacer-lg remove_on_ipad"></div>

<div class="col-xs-4 center">
	<div class="vertical-spacer-lg"></div>
	<div class="vertical-spacer"></div>
<a href="#waitlisted">
	<button class="btn btn-success">Sign Up Today!</button>
</a>
<div class="vertical-spacer"></div>

</div>

<div class="col-xs-4 remove_on_tinyphone">

	<h4>Top Articles</h4>
	<ol>
		<li align="left"><a href="https://medium.com/@SqwadFan/sqwad-mls-player-efficiency-rankings-70678a00bfed#.lu9taj2pm" target="_blank">The MLS way to early player efficiency ratings</a></li>
		<li align="left"><a href="https://medium.com/@SqwadFan/the-copa-américa-centario-a-breakdown-of-the-usmnt-roster-761991c21a21#.feigxe5uo" target="_blank">Copa América USMNT roster breakdown</a></li>
<!-- 		<li align="left"><a href="https://medium.com/@SqwadFan/quarterfinals-power-rankings-2be0bd782fc2#.ay48tjr4e" target="_blank">Copa América quarter-final power rankings</a></li>
 -->	</ol>

</div>