<div class="row">

	<div class="col-sm-12" style="background-color:black;">
		
		<div class="vertical-spacer-lg"></div>

		<p style="color:white">Questions?</p>
		<p style="color:white">For more information contact</p>
		<a href="mailto:nlawson@pick6fan.com?Subject=Information%20About%20Sqwad" target="_top">nlawson@pick6fan.com</a>
		
		<div class="vertical-spacer-lg"></div>
	
	</div>

</div>