<div class="container-fluid" style="padding:0;margin:0">
	<div class="row block-fill-height">
		<div class="col-xs-3 phoneImage" style="background-color:#FA023C; margin:0; padding:0">
			<a href="#waitlisted">
				<span style="color:white">Join Today!</span>
			</a>
		</div>
		<div class="col-xs-9 secondPart" style="padding:0;margin:0" id="mobile_twitter">
			<span style="color:grey">Follow us:</span> <a class="hide-icons" target="_blank" href="https://twitter.com/Sqwadfc" style="padding-left:20px;"><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a>
		</div>
	</div>
</div>