<div class="row" style="margin:0; background-color:black">
	
		<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>

	<div class="col-sm-12">

		<a data-toggle="modal" data-target="#myModal" href="#" class="btn btn-danger">Contact Us</a>
		
		<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>
	
	</div>

</div>