<div class="col-sm-12" style="background-color:black">
	<div class="vertical-spacer-lg"></div>
	<%= image_tag '/images/sqwadhand.png', width: '60'%>
	<p class="site-font otherHeaderStuff"><span id="headerText">S</span>QWAD</p>
	<p style="color:white"><span style="font-style:italic">JOIN THE</span> <br><span id="fantasySportsText">FANTASY SPORTS MOVEMENT</span><br> <span style="font-size:12px">IN GAME FANTASY | WIN CASH AND PRIZES</span></p>
	<button class="btn btn-danger" data-toggle="modal" data-target="#anotherModal">Join The Beta</button>
	<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>

<!-- 		<div class="col-xs-3 phoneImage" style="background-color:#FA023C; margin:0; padding:0">
			<a href="#" data-toggle="modal" data-target="#anotherModal">
				<span style="color:white">Join</span>
			</a>
		</div> -->
<!-- 		<div class="col-xs-9 secondPart" style="padding:0;margin:0" id="mobile_twitter">
			<span style="color:grey">Follow us:</span> <a class="hide-icons" target="_blank" href="https://twitter.com/Sqwadfc" style="padding-left:20px;"><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a>
		</div> -->
</div>