<div class="container-fluid" style="padding:0;margin:0">
	<div class="row block-fill-height">
		<div class="col-xs-3" style="margin:0; padding:0">
			<a href="#waitlisted" style="background-color:#FA023C; padding:0; margin:0;">
				<span style="color:white;font-size:30px;line-height: 70px;">Join Today!</span>
			</a>
		</div>
		<div class="col-xs-9 secondPart" style="padding:0;margin:0">
			FUCK
		</div>
	</div>
</div>