<nav class="navbar navbar-default" style="margin-bottom:0">
  
  <div class="container-fluid">
    
    <div class="navbar-header" style="margin-left:10px">
      
       <button type="button" class="navbar-toggle" style="margin-top:40px; z-index:100" data-toggle="collapse" data-target="#myNavbar" data-canvas="body">
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </button>
      
      <a id="top_image" href="javascript:window.location.href=window.location.href" style="width:100px"><img src="images/sqwadhand.png" width="100" style="margin-top: 10px;"></a>
      
    </div>
      
    <div id="navbar" class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav navbar-right">
        
        <li>
          
          <a class="hide-icons" target="_blank" href="https://medium.com/@SqwadFan" style="color:white;font-size:20px;background-color:#FA023C;margin-top:10px;font-weight:700">SQWAD NEWS</a>
          
        </li>
      
        <li>
          
          <a class="hide-icons" target="_blank" href="https://twitter.com/SqwadFan" style="padding-right:0"><img src="images/twitter.png" height="40px" width="40px"></a>
          
        </li>
        
        <li>
          
          <a class="hide-icons" target="_blank" href="https://www.instagram.com/sqwadfantasy/" style="padding-right:0"><img src="images/instagram.png" height="40px" width="40px"></a>
          
        </li>
        
        <li>
          
          <a class="hide-icons" target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><img src="images/facebook.png" height="40px" width="40px"></a>
          
        </li>
        
      </ul>
      
    </div>
     
  </div>
  
</nav> 

<nav id="myNavbar" class="navmenu navmenu-default collapse" role="navigation">
  
  <ul class = "nav navmenu-nav" style="background-color:rgba(0,0,0,0.6); margin:0">
    
    <li style="width:25%">
          
      <a href="https://medium.com/@SqwadFan" style="color:white" target="_blank">SQWAD NEWS</a>
      
    </li>
    
    <li style="width:25%">
      
      <a href="https://twitter.com/SqwadFan" style="color:white" target="_blank">Twitter</a>
      
    </li>
    
    <li style="width:25%">
      
      <a href="https://www.instagram.com/sqwadfantasy/" style="color:white" target="_blank">Instagram</a>
      
    </li>
    
    <li style="width:25%">
      
      <a href="https://www.facebook.com/Sqwadfan/?fref=ts" style="color:white" target="_blank">Facebook</a>
      
    </li>
    
  </ul>
  
</nav>