<nav class="navbar navbar-default">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      <a type="button" class="navbar-toggle" href="#my-menu">
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </a>
      
    </div>
    
    <div class="navbar-center navbar-brand" style="padding:0"> 
        
        <a class="navbar-brand" href="javascript:window.location.href=window.location.href"><%= image_tag '/images/sqwadhand.png', width: '100px', style: 'margin-bottom: 10px' %></a> 
          
<!--  <img src="images/sqwadhand.png" width="100" style="margin-bottom:10px"></a>   
 -->        
        <span class="site-font otherHeaderStuff"><span id="headerText">S</span>QWAD</span>
    </div>
      
    <div class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav navbar-right">
        
        <li>
          
          <a class="hide-icons" data-toggle="modal" data-target="#myModal" href="#" id="sqwadContactUsHeader">CONTACT US</a>
          
        </li>
      
        <li>
          
          <a class="hide-icons" target="_blank" href="https://twitter.com/SqwadFan" style="padding-right:0"><%= image_tag '/images/twitter.png', height: '40px', width: '40px' %></a>
            <!-- <img src="images/twitter.png" height="40px" width="40px"></a> -->
          
        </li>
        
        <li>
          
          <a class="hide-icons" target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><%= image_tag '/images/facebook.png', height: '40px', width: '40px' %></a>
<!--             <img src="images/facebook.png" height="40px" width="40px"></a>
 -->          
        </li>
        
      </ul>
      
    </div>
     
  </div>
  
</nav> 

<nav id="my-menu" class="navmenu navmenu-default collapse" role="navigation">
  
  <ul class = "nav navmenu-nav">
    
    <li>
          
      <a href="#" class="site_font" data-toggle="modal" data-target="#myModal">CONTACT US</a>
      
    </li>
    
    <li>
      
      <a href="https://twitter.com/SqwadFan" class="site_font" target="_blank">Twitter</a>
      
    </li>
    
    <li>
      
      <a href="https://www.facebook.com/Sqwadfan/?fref=ts" class="site_font" target="_blank">Facebook</a>
      
    </li>
    
  </ul>
  
</nav>