<div class="row">
	<div class="vertical-spacer-lg show_on_ipad"></div>
	<a href="http://sqwadapp.co/"><button class="button btn-success btnRow">WNBA</button></a>
	<a href="http://sqwadapp.co/fc.html"><button class="button btn-warning btnRow" href="http://sqwadapp.co/fc.html">MLS</button></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><button class="button btn-danger btnRow">EPL</button></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><button class="button btn-warning btnRow">NBA</button></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><button class="button btn-success btnRow"> NFL</button></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><button class="button btn-danger btnRow">MLB</button></a>
</div>

