<div class="row" style="background-color:#FA023C; margin:0">
	<% blog.tags.each do |tag| %>
			<% link_to '/tags/'+ tag[0].downcase + '.html', :relative => true do %>
				<span class="btn btnRow border"><%= tag[0] %></span>
			<% end %>
	<% end %>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">EPL</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">NBA</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">NFL</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">MLB</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">MARKET</span></a>
</div>