<div class="row" style="background-color:#FA023C; margin:0">
 <%= link_to 'All', '/article.html', :class => 'btn btnRow border' %>
 <%= link_to 'WNBA', '/wnba.html', :class => 'btn btnRow border' %>
 <%= link_to 'MLS', '/mls.html', :class => 'btn btnRow border' %>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">EPL</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">NBA</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">NFL</span></a>
	<a href="#" data-toggle="modal" data-target="#anotherModal"><span class="btn btnRow border">MLB</span></a>
</div>