<div class="col-xs-12" style="margin:0; padding:0">
	<div class="row" style="margin:0; padding:0">
	<%= image_tag '/images/makePicksDuringMatch.png', style: 'margin:0' %>
	</div>
	<div class ="row" style="background-color:grey; margin:0; padding:0">
		<h4>JOIN THE MOVEMENT TODAY</h4>
		<h5 align="center">Over <span style="color:white">1000</span> Have Signed Up</h5>
		<a class="btn" data-toggle="modal" data-target="#anotherModal" href="#" id="sqwad_side_button">JOIN TODAY</a>
		<div class="vertical-spacer"></div>
	</div>

	<div class="row" style="background-color:#A9A9A9; margin:0; padding:0" >
		<h4 style="color:white">Hot Picks</h4>
		<ol align="left" class="featuredList">
		<% featuredArticles().each do |article| %>
			<li class='number-styles'><span class="inlineSpan1"><%= link_to article[1]['title'], getLink(article), :class => "site-font" %></span><br>
			<span class="inlineSpan2">By <%= link_to article[1]['author'].tr('_',' ').titleize, findAuthors(article[1]['author']), :target => '_blank', :class => 'author-text' %></span></li>
		<% end %>	
		</ol>
	</div>
	
	<div class="row" style="background-color:#CCCCCC; margin:0; padding:0">
		<h1>Market Watch</h1>
		<h4>Coming Soon!</h4>
		<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>
	</div>
</div>