<div id="anotherModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content" style="background-color:black">
            
            <div class="modal-header text-right" style="border:black">
                    <span class="fa fa-times signUpButton" id="dismissModalButton" data-dismiss="modal"></span>
            </div>
            <%= image_tag 'signupimage.png' %>
<!--             <div class="vertical-spacer-lg"></div>
            <h1 class="signUpTextFont">Fill in your email and to gain early access to SQWAD Fantasy!</h1>
            <p class="sitefont">Or enter your email to check your place or see your referral code</p> -->
            <div class='houston-container stacked'></div>
        </div>
        
    </div>

</div>