<div id="anotherModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">
            
            <div class="modal-header text-right">
                    <span class="fa fa-times" id="dismissModalButton" data-dismiss="modal"></span>
            </div>
            <h1>Fill in your email and sign up below!</h1>
            <div class="vertical-spacer-lg"></div>
            <%= image_tag 'sqwadhand.png' %>
            <div class='houston-container stacked'></div>
        </div>
        
    </div>

</div>