<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main-events" style="background-color:black; color:white">
  
    <div class="container-fluid">
      
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          
          <span class="sr-only">Toggle navigation</span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
        </button>
        
        <a class="visible-xs event-logo-nav-mobile" href="#top" target="_self"><%= image_tag '/images/sqwad_horizontal.png', style: 'margin: 10px' %></a>
        
      </div>
      
      <div id="navbar" class="navbar-collapse collapse" data-offset="60">
        
        <div class="pull-left nav-event-register-container hidden-xs" style="display:inline-block; color:white"><a href="javascript:void(0);" ng-click="main.scrollTop()"><%= image_tag '/images/sqwad_horizontal.png', style: 'margin:10px' %></a></div>
        
        <ul class="nav navbar-nav navbar-right" style="margin:10px">
          
          <li class=""><a href="#home" target="_self">SQWAD</a></li>
          
          <li class=""><a href="#testimonials" target="_self">Testimonials</a></li>
          
          <li class=""><a href="#experience" target="_self">Experience</a></li>
          
          <li class=""><a href="#stats" target="_self">Stats</a></li>
          
          <li class=""><a href="#rewards" target="_self">Rewards</a></li>
          
          <li class=""><a href="#teams" target="_self">Teams</a></li>
          
          <li class="" style="background-color:#FA023C"><a href="mailto:nlawson@pick6fan.com?Subject=I'm%20Ready%20To%20Start" target="_self">Ready To Start?</a></li>
          
        </ul>

      </div>
      
    </div>
    
  </nav>