<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main-events" style="background-color:black; color:white">
  
    <div class="container-fluid">
      
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          
          <span class="sr-only">Toggle navigation</span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          
        </button>
        
        <a class="visible-xs event-logo-nav-mobile" href="#top" target="_self"><%= image_tag '/images/sqwad_horizontal.png', style: 'margin: 10px' %></a>
        
      </div>
      
      <div id="navbar" class="navbar-collapse collapse" data-offset="60">
        
        <div class="pull-left nav-event-register-container hidden-xs" style="display:inline-block; color:white"><a href="javascript:void(0);" ng-click="main.scrollTop()"><%= image_tag '/images/sqwad_horizontal.png', style: 'margin:10px' %></a></div>
        
        <ul class="nav navbar-nav navbar-right" style="margin:10px">
          
          <li class="newsqwadheaderfont"><a href="#home" target="_self" class="newsqwadheaderfont">SQWAD</a></li>
          
          <li class=""><a href="#testimonials" target="_self">Testimonials</a></li>
          
          <li><a href="#fantasy" target="_self" class="newsqwadheaderfont">Fantasy</a></li>
          
          <li><a href="#features" target="_self" class="newsqwadheaderfont">Features</a></li>
          
<!--           <li><a href="#fanjourney" target="_self" class="newsqwadheaderfont">Fan Journey</a></li> -->          
          <li><a href="#rewardtickets" target="_self" class="newsqwadheaderfont">Rewards</a></li>
          
          <li><a href="#teams" target="_self" class="newsqwadheaderfont">Teams</a></li>
          
          <li><a class="hide-icons" data-toggle="modal" data-target="#myModal" href="#" style="background-color:#FA023C">REQUEST A DEMO</a></li>
<!--           <li class="" style="background-color:#FA023C"><a href="mailto:nlawson@sqwadapp.co?Subject=I'm%20Ready%20To%20Start" target="_self">REQUEST A DEMO</a></li>
 -->          
        </ul>

      </div>
      
    </div>
    
  </nav>