---
title: Sqwad Fantasy
---

<nav class="navbar navbar-default" style="margin-bottom:0">
	
	<div class="container-fluid">
		
		<div class="navbar-header">
			
			 <button type="button" class="navbar-toggle" style="margin-top:20px; margin-left:50px" data-toggle="collapse" data-target="#myNavbar" data-canvas="body">
			 	
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </button>
      
			<a style="margin-left:50px" href="#"><img src="images/navbar_logo.png" height="100px" width="110px"></a>
			
		</div>
    	
  	<div id="navbar" class="navbar-collapse collapse">
  		
  		<ul class="nav navbar-nav navbar-right">
    	
        <li>
        	
          <a target="_blank" href="https://twitter.com/SqwadFan" style="padding-right:0"><img src="images/twitter.png" height="40px" width="40px"></a>
          
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.instagram.com/sqwadfantasy/" style="padding-right:0"><img src="images/instagram.png" height="40px" width="40px"></a>
        	
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><img src="images/facebook.png" height="40px" width="40px"></a>
        	
        </li>
        
      </ul>
			
  	</div>
     
	</div>
	
</nav> 

<nav id="myNavbar" class="navmenu navmenu-default collapse" style="margin:0" role="navigation">
	
	<ul class = "nav navmenu-nav" style="height: 100vh; background-color:rgba(0,0,0,0.6); margin:0">
		
		<li style="width:25%">
			
			<a href="" style="color:white">Twitter</a>
			
		</li>
		
		<li style="width:25%">
			
			<a href="" style="color:white">Instagram</a>
			
		</li>
		
		<li style="width:25%">
			
			<a href="" style="color:white">Facebook</a>
			
		</li>
		
	</ul>
	
</nav>

<div class="container-fluid" style="padding-left:0; padding-right:0">
	
	<div class="row">
		
		<div class="col-sm-4 col-sm-offset-2">
			
			<div class="vertical-spacer-lg"></div>
			
			<div class="vertical-spacer-lg"></div>
		
			<div id="outer">
						
				<h1 class="trim-text" style="color:white; margin-top:0; margin-left:0" id="left-line">THE BEST<br>

				PLAY LIVE</h1>
		
			</div>
			
			<hr style="width:200%"/>
			
			<h4 style="color:white; width:120%; margin-left:5px" align="left">SQWAD is a real-time fantasy platform that allows fans to challenge
			 pro-athletes and friends for prizes and rewards</h4>
			
			<div class="vertical-spacer-lg"></div>
			
			<hr style="border-top:1px solid white;width:40%"/>
			
			<h3 style="color:white" align="left">Be an exclusive beta user</h3>
			
			<h4 style="color:white" align="left">Reserve your spot on our waitlist</h4>
			
			<form>
				
					<div class="input-group">
   
   					<input type="text" class="form-control" placeholder="Enter Your Email">
   					
   					<span class="input-group-btn">
        
        			<button class="btn btn-default form-control" style = "background-color:grey; color:red; font-weight:bold" type="button">SQWAD UP</button>
   					
   					</span>
					
					</div>
				
			</form>
			
		</div>
		
		<div class="col-sm-4 col-sm-offset-1">
			
			<img src="images/phone.png" width="250px" height="auto">
			
		</div>
		
	</div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class = "container" style="border: 1px solid black">
		
		<div class="vertical-spacer-lg"></div>
		
		<h1 style="color:white">OUR SQWAD</h1>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class = "row">
		
			<div class = "col-sm-2 col-sm-offset-1">
			
				<img src="images/bird.png">
			
			</div>
			
			<div class = "col-sm-2">
			
				<img src="images/griner.png">
			
			</div>
			
			<div class = "col-sm-2">
			
				<img src="images/taurasi.png">
			
			</div>
						
			<div class = "col-sm-2">

				<img src="images/moore.png">

			</div>
			
			<div class = "col-sm-2">

				<img src="images/loyd.png">

			</div>
		
		</div>
		
			<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
</div>

	<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class="block block-inverse app-footer">
	
		<div class="container">
			
		    <div class="row">
		    	
		      <ul class="list-unstyled list-spaced">
		      	
		        <li class="m-b"><%= link_to 'Contact Us', 'contact_us.html', :target => '_blank'%></li>
		        
		      </ul>
		      
		  </div>
		  
		</div>
		
	</div>
