---
title: Sqwad Fantasy
---
<%= partial "/partials/header" %>

<div class="container-fluid">
	
	<div class="vertical-spacer-lg #hide_space"></div>
	
	<div class="col-sm-4 col-sm-offset-1" id="hidden">
			
			<img src="images/phone.png">
			
	</div>
	
	<div class="row">
		
		<div class="col-md-4 col-md-offset-2 col-sm-4">
			
			<div class="vertical-spacer-lg remove_on_ipad"></div>
			
			<div class="vertical-spacer-lg"></div>
		
			<div id="outer">
						
				<h1 class="trim-text change_size" id="left-line">THE BEST PLAY LIVE</h1>
		
			</div>
			
			<hr id="first_hr" class="remove_on_ipad">
			
			<h3 id="first_h2" class="change_size real_shrink_text" align="left">SQWAD is a real-time fantasy platform that allows fans to challenge
			 pros and friends for bragging rights and brand rewards.</h3>
			 
			 <div class="vertical-spacer remove_on_phone"></div>
			 <div class="vertical-spacer remove_on_phone"></div>
			 <div class="vertical-spacer remove_on_phone"></div>

			
			<hr id="second_hr" class="remove_on_ipad">
			
			<h3 id="first_h3" class="change_size shrink_big_text" align="left">Be an exclusive beta user</h3>
			
			<h2 class="change_size real_shrink_text" id="second_h2" align="left">Reserve your spot on our waitlist</h2>

			<div id="sqwad_button">
				
				<a href="#waitlisted" class="btn btn-lg btn-success">SQWAD UP & Join the waitlist</a>
				
			</div>
			
		</div>
		
		<div class="vertical-spacer-lg show_on_ipad"></div>
		
		<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-3 remove_on_phone">
			
			<img src="images/phone.png" width="300px" height="auto">
			
		</div>
		
		</div>
		
	</div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class = "container-fluid black_background">
		
		<div class="vertical-spacer-lg"></div>
		
		<h1 class="trim-text" id="second_title">THE SQWAD</h1>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class = "row">
		
			<div class = "col-sm-2 col-sm-offset-1 col-xs-6" id="add_bracket">
			
				<img src="images/bird.png">
			
			</div>
			
			<div class = "col-sm-2 col-xs-6">
			
				<img src="images/griner.png">
			
			</div>
			
			<div class = "col-sm-2 col-xs-6">
			
				<img src="images/taurasi.png">
			
			</div>
						
			<div class = "col-sm-2 col-xs-6">

				<img src="images/moore.png">

			</div>
			
			<div class = "col-sm-2 col-xs-6">

				<img src="images/loyd.png">

			</div>
		
		</div>
		
		<div class="row">
			
			<h2 class="white_color">MORE ATHLETES COMING!</h2>
			
			<div class="col-sm-6 col-sm-offset-3" >
				
				<hr id="tophr">
				<hr id="middlehr">
				<hr id="bottomhr">
			
			</div>
			
			<div class="col-sm-12">
				
				<span id="link"><%= link_to 'Contact Us', 'contact_us.html', :target => '_blank', :style => 'color:white' %></span>
				
			</div>
			
		</div>
		
	<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
</div>
