---
title: Sqwad Fantasy
---

<nav class="navbar navbar-default" style="margin-bottom:0">
	
	<div class="container-fluid">
		
		<div class="navbar-header" style="margin-left:10px">
			
			 <button type="button" class="navbar-toggle" style="margin-top:40px; z-index:100" data-toggle="collapse" data-target="#myNavbar" data-canvas="body">
			 	
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </button>
      
			<a href="#" id="top_image"><img src="images/navbar_logo.png" height="100px" width="110px"></a>
			
		</div>
    	
  	<div id="navbar" class="navbar-collapse collapse">
  		
  		<ul class="nav navbar-nav navbar-right">
    	
        <li>
        	
          <a target="_blank" href="https://twitter.com/SqwadFan" style="padding-right:0"><img src="images/twitter.png" height="40px" width="40px"></a>
          
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.instagram.com/sqwadfantasy/" style="padding-right:0"><img src="images/instagram.png" height="40px" width="40px"></a>
        	
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><img src="images/facebook.png" height="40px" width="40px"></a>
        	
        </li>
        
      </ul>
			
  	</div>
     
	</div>
	
</nav> 

<nav id="myNavbar" class="navmenu navmenu-default collapse" role="navigation">
	
	<ul class = "nav navmenu-nav" style="background-color:rgba(0,0,0,0.6); margin:0">
		
		<li style="width:25%">
			
			<a href="https://twitter.com/SqwadFan" style="color:white">Twitter</a>
			
		</li>
		
		<li style="width:25%">
			
			<a href="https://www.instagram.com/sqwadfantasy/" style="color:white">Instagram</a>
			
		</li>
		
		<li style="width:25%">
			
			<a href="https://www.facebook.com/Sqwadfan/?fref=ts" style="color:white">Facebook</a>
			
		</li>
		
	</ul>
	
</nav>

<div class="container-fluid" style="padding-left:0; padding-right:0">
	
	<div class="vertical-spacer-lg #hide_space"></div>
	
	<div class="col-sm-4 col-sm-offset-1" id="hidden">
			
			<img src="images/phone.png">
			
		</div>
	
	<div class="row" style="margin:0">
		
		<div class="col-sm-4 col-sm-offset-2">
			
			<div class="vertical-spacer-lg remove_on_phone"></div>
			
			<div class="vertical-spacer-lg"></div>
		
			<div id="outer">
						
				<h1 class="trim-text change_size" style="color:white; margin:0" id="left-line">THE BEST<br>

				PLAY LIVE</h1>
		
			</div>
			
			<hr style="width:200%; margin-top:0" class="remove_on_phone">
			
			<h2 style="color:white; margin-left:5px; font-family:Dense" class="change_size shrink_text" align="left">SQWAD is a real-time fantasy platform that allows fans to challenge
			 pro-athletes and friends for prizes and rewards</h2>
			 
			 <div class="vertical-spacer remove_on_phone"></div>
			 <div class="vertical-spacer remove_on_phone"></div>
			 <div class="vertical-spacer remove_on_phone"></div>

			
			<hr style="border-top:3px solid white;width:40%;margin-left:0px;margin-bottom:5px">
			
			<h3 class="change_size shrink_big_text" style="color:white; margin-bottom:0; margin-top:0px" align="left">Be an exclusive beta user</h3>
			
			<h2 class="change_size shrink_text" style="color:white; font-family:Dense; margin-top:0" align="left">Reserve your spot on our waitlist</h2>
			
			<form id="mobile_enter">
				
					<div class="input-group">
   
   					<input type="text" class="form-control" placeholder="Enter Your Email">
   					
   					<span class="input-group-btn">
        
        			<button class="btn btn-default form-control" style = "background-color:grey; color:white; font-weight:bold; border-radius:0px 5px 5px 0" type="button">SQWAD UP</button>
   					
   					</span>
					
					</div>
				
			</form>
			
		</div>
		
		<div class="col-sm-4 col-sm-offset-1 remove_on_phone">
			
			<img src="images/phone.png" width="300px" height="auto">
			
		</div>
		
		</div>
		
	</div>
	
	<div class="vertical-spacer-lg"></div>
	
	<div class = "container-fluid" style="background-color:black">
		
		<div class="vertical-spacer-lg"></div>
		
		<h1 class="trim-text" style="color:white; background-color:red; padding-left:10px;padding-right:10px">The SQWAD</h1>
		
		<div class="vertical-spacer-lg"></div>
		
		<div class = "row">
		
			<div class = "col-sm-2 col-sm-offset-1" id="add_bracket">
			
				<img src="images/bird.png">
			
			</div>
			
			<div class = "col-sm-2">
			
				<img src="images/griner.png">
			
			</div>
			
			<div class = "col-sm-2">
			
				<img src="images/taurasi.png">
			
			</div>
						
			<div class = "col-sm-2">

				<img src="images/moore.png">

			</div>
			
			<div class = "col-sm-2">

				<img src="images/loyd.png">

			</div>
		
		</div>
		
		<div class="row">
			
			<h2 style="color:white">MORE ATHLETES COMING!</h2>
			
			<div class="col-sm-6 col-sm-offset-3" >
				
				<hr style="border-top:1px solid rgb(255,0,51);margin-bottom:5px">
				<hr style="border-top:1px solid rgb(255,0,51);margin-bottom:0px; margin-top:0px">
				<hr style="border-top:1px solid rgb(255,0,51);margin-top:5px">
			
			</div>
			
			<div class="col-sm-12">
				
				<span style="font-size:30px; font-family:Dense"><%= link_to 'Contact Us', 'contact_us.html', :target => '_blank', :style => 'color:white' %></span>
				
			</div>
			
		</div>
		
	<div class="vertical-spacer-lg"></div>
	
	<div class="vertical-spacer-lg"></div>
	
</div>
