---
title: Sqwad Fantasy
---

<nav class="navbar navbar-default" style="border-color:rgba(0,0,0,0.4); background-color:rgba(0,0,0,0.4)">
	
	<div class="container-fluid">
		
		<div class="navbar-header">
			
			 <button type="button" class="navbar-toggle" style="margin-top:20px; margin-right:50px" data-toggle="collapse" data-target="#myNavbar" data-canvas="body">
			 	
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span>
        
        <span class="icon-bar"></span> 
        
        <span class="icon-bar"></span> 
        
      </button>
      
			<a style="margin-left:50px" href="#"><img src="images/navbar_logo.png" height="100px" width="110px"></a>
			
		</div>
    	
  	<div id="navbar" class="navbar-collapse collapse">
  		
  		<ul class="nav navbar-nav navbar-right">
    	
        <li>
        	
          <a target="_blank" href="https://twitter.com/SqwadFan"><img src="images/twitter.png" alt=""></a>
          
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.instagram.com/sqwadfantasy/"><img src="images/instagram.png" alt=""></a>
        	
        </li>
        
        <li>
        	
        	<a target="_blank" href="https://www.facebook.com/Sqwadfan/?fref=ts"><img src="images/facebook.png" alt=""></a>
        	
        </li>
        
      </ul>
			
  	</div>
     
	</div>
	
</nav> 

<nav id="myNavbar" class="navmenu navmenu-default collapse" role="navigation">
	
	<ul class = "nav navmenu-nav" style="width:25%; background-color:white; height: 100vh;">
		
		<li>
			
			<a href="">Twitter</a>
			
		</li>
		
		<li>
			
			<a href="">Instagram</a>
			
		</li>
		
		<li>
			
			<a href="">Facebook</a>
			
		</li>
		
	</ul>
	
</nav>
