<div class="se-pre-con" id="loader" style="display:none"></div>

<nav class="navbar navbar-default" style="margin-bottom:0">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      <a href="#" id="top_image"><img src="images/navbar_logo.png" height="100px" width="110px"></a>
      
    </div>
     
  </div>
  
</nav> 

<div class="container-fluid">
	
	<div class="vertical-spacer-lg "></div>
	
	<div class="vertical-spacer show_on_phone"></div>
		
	<div class="col-md-4 col-md-offset-1 col-sm-4" id="hidden">
			
			<img src="images/phone.png" id="small_phone">
			
	</div>
	
	<div class="row">
		
		<div class="col-md-6 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" id="makeFullWidth">
					
			<div id="two-outer">
						
				<h1 class="trim-text two_change_size" id="two-left-line"></h1>
		
			</div>
						
 			<!-- <div class="vertical-spacer-lg remove_on_phone"></div> -->
 			<div class="vertical-spacer remove_on_ipad"></div>
 			<div class="vertical-spacer remove_on_ipad"></div>
	
			<img src="" alt="" id="influencerImage" class="circular-image">
						
			<div class="vertical-spacer"></div>
									
			<hr id="long_hr" class="remove_on_ipad">
 			
			<h2 id="influencerText" class="change_size shrink_text"> 
				
				<span id="nameInfluencer"></span>,
				
				<span id="influencerCopy"></span>
				
			</h2>

<!-- 			<div class="col-md-4">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button class="btn btn-default btn-small" type="button">Go!</button>
			      </span>
			    </div>
			  </div>
			</div> -->
			<div class='message'>
			    <div style='padding: 5px;'>
			        <div class='alert alert-danger alert-sqwad' role='alert' id="msg-error">YOU FORGET TO ENTER YOUR TWITTER HANDLE <i class='em em-frowning'></i></div>
			        <div class='alert alert-danger alert-sqwad' role='alert' id="msg-success">
			        	Thank you for being a supporter of SQWAD! <br> We will reach out to you shortly. <i class='em em-raised_hands'></i></div>
			    </div>
			</div>

			<div class="row">
				<div class="col-md-10">
					<div id="twitter_stuff">
						<h2 id="status" target="_blank" class="shrink_text"></h2>
						<a href="" class="btn btn-primary" id="tweet" target="_blank" >Tweet @SQWAD</a>
						<form class="form-inline" method="post" id="tweeter_handle">
							<div class="input-group inputGroupContainer">
								<input type="text" name="handle" value="@" placeholder="Twitter Handle" class="form-control" id="handle" style="width:300px">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-success form-control" id="sendTwitterHandle" style="padding-top: 6.8px; padding-bottom: 6.8px; border-top-right-radius: 5px; border-bottom-right-radius: 5px">SEND</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
<!-- 			<div id="twitter_stuff">
							
				<h2 id="status" target="_blank" class="shrink_text"></h2>
								
				<a href="" class="btn btn-primary" id="tweet" target="_blank" >Tweet @SQWAD</a>


				<form class="form-inline">
					<div class="form-group">
						<input>
					</div>

				</form>
				
				<form class="form-horizontal " method="post" id="tweeter_handle">
					
					<fieldset>
						
						<div class="form-group">
			        
					        <div class="col-md-6 inputGroupContainer">
					          
					          <div class="input-group has-error">

					          			        
					            <input type="text" name="handle" value="@" placeholder="Twitter Handle" class="form-control" id="handle">
					            <span class="input-group-btn">
					            	<button type="submit" class="btn btn-success" id="sendTwitterHandle" style="padding-top: 6.8px; padding-bottom: 6.8px;">SEND</button>
					            </span>
		        
					          </div>
					          
					        </div>
				        
				      </div>
						
					</fieldset>
					
				</form>
			
			</div> -->
			
			<div id="mobile_twitter" align="left">
				
				<a href="twitter://post?message=@SqwadFan %23SqwadInfluencer" class="btn btn-primary">Tweet @SQWAD</a>
						
			</div>
			
			<div class="vertical-spacer show_on_ipad"></div>
			
		</div>
				
		<div class"vertical-spacer"></div>
		
		<div class="col-md-4 col-sm-12 col-xs-12 col-md-push-1 remove_on_phone"  id="phoneImage">
			
			<img src="images/phone.png" width="300px" height="auto" id="phone_image">
			
		</div>
		
	</div>
		
</div>

<div class="vertical-spacer-lg"></div>