<div class="container">
	<h1>Player Rankings</h1>
	<div class="vertical-spacer-lg"></div>
	<div class="col-md-4">
		<button class="btn btn-succss" id="currentGameRanks">Current Game Leaders</button>
	</div>
	<div class="col-md-4">
		<button class="btn btn-primary" id="nightLeaderRanks">Night Leaders</button>
	</div>
	<div class="col-md-4">
		<button class="btn btn-danger" id="allTimeRanks">All-Time Leaders</button>
	</div>
	<div class="vertical-spacer-lg"></div>
			<div class="vertical-spacer-lg"></div>
		<div class="vertical-spacer-lg"></div>

	<ol id="playersCurrentRanked" display="none">

	</ol>
	<ol id="playersNightlyRanked" display="none">
		<h4>No Data Yet!</h4>
	</ol>
	<ol id="playersAllTimeRanked">
		
	</ol>
</div>