<div class="container-fluid" style="margin:0; padding:0">
		<div class="col-xs-4 buttonOnLeaderboard" id="currentGameRanks">CURRENT GAME</div>
		<div class="col-xs-4  buttonOnLeaderboard" id="nightLeaderRanks">CHAMP OF NIGHT</div>
		<div class="col-xs-4  buttonOnLeaderboard active" id="allTimeRanks">ALL TIME</div>

	<div class="vertical-spacer-lg"></div>
	<div class="vertical-spacer-lg"></div>


	<ol id="playersCurrentRanked" style="display:none" class="listColors">

	</ol>
	<ol id="playersNightlyRanked" style="display:none" class="listColors">
		
	</ol>
	<ol id="playersAllTimeRanked" class="listColors">
		
	</ol>
</div>