<div class="container-fluid" style="margin:0; padding:0">
	<h1>Player Rankings</h1>
	<div class="vertical-spacer"></div>
	<div>
		<span class="btn btn-primary buttonOnLeaderboard" id="currentGameRanks">Current Game</span>
		<span class="btn btn-primary buttonOnLeaderboard" id="nightLeaderRanks">Night Leaders</span>
		<span class="btn btn-primary buttonOnLeaderboard" id="allTimeRanks">All-Time</span>
	</div>
	
	<div class="col-xs-2 rankColors" align="left" style="padding:0; margin:0">
		<h3>Rank</h3>
	</div>
	<div class="col-xs-6 usernameColors" algin="center">
		<h3>Username</h3>
	</div>
	<div class="col-xs-4 pointsColors" align="right">
		<h3>Points</h3>
	</div>
	<div class="vertical-spacer-lg"></div>
	<div class="vertical-spacer-lg"></div>
	<ol id="playersCurrentRanked" style="display:none" class="listColors">

	</ol>
	<ol id="playersNightlyRanked" style="display:none" class="listColors">
		
	</ol>
	<ol id="playersAllTimeRanked" class="listColors">
		
	</ol>
</div>