<div class="container-fluid" style="margin:0; padding:0">
	<div class="vertical-spacer-lg"></div>
		<div class="col-xs-4 buttonOnLeaderboard" id="currentGameRanks">Current-Game</div>
		<div class="col-xs-4  buttonOnLeaderboard" id="nightLeaderRanks">Night-Leaders</div>
		<div class="col-xs-4  buttonOnLeaderboard" id="allTimeRanks">All-Time</div>

	<div class="vertical-spacer-lg"></div>
	<div class="vertical-spacer-lg"></div>


	<ol id="playersCurrentRanked" style="display:none" class="listColors">

	</ol>
	<ol id="playersNightlyRanked" style="display:none" class="listColors">
		
	</ol>
	<ol id="playersAllTimeRanked" class="listColors">
		
	</ol>
</div>