<div class="container-fluid" style="margin:0; padding:0">
	<div>
		<span class="btn btn-primary buttonOnLeaderboard" id="currentGameRanks">Current Game</span>
		<span class="btn btn-primary buttonOnLeaderboard" id="nightLeaderRanks">Night Leaders</span>
		<span class="btn btn-primary buttonOnLeaderboard" id="allTimeRanks">All-Time</span>
	</div>

	<div class="vertical-spacer-lg"></div>
	<ol id="playersCurrentRanked" style="display:none" class="listColors">

	</ol>
	<ol id="playersNightlyRanked" style="display:none" class="listColors">
		
	</ol>
	<ol id="playersAllTimeRanked" class="listColors">
		
	</ol>
</div>