<h1 style="color:white" id="nameVariable"></h1>

<% data.influencers.people.each do |person| %>
	
	<% if(self.current_path.include?(person.name.downcase.gsub(" ", "_"))) %>
		
		<img src="images/<%= person.image %>" alt="">
	
	<% end %>

<% end %>
